
<div class="row">
    <div class="col-md-12" style="height:360px;">
        <!-- data-interval="5000" -->
        <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="assets/photos/pic5.jpg">
                    <div class="carousel_text big_orange" style="top:60px;left:150px;font-size:50px;line-height:50px;">Collaborate</div>
                    <div class="carousel_text big_white" style="top:120px;left:180px;font-size:50px;line-height:50px;">Share with Colleagues</div>
                    <div class="carousel_text big_black" style="top:180px;left:210px;font-size:50px;line-height:50px;">Re-Use Across Apps</div>
                </div>
                <div class="item">
                    <img src="assets/photos/pic3.jpg">
                    <div class="carousel_text very_big_white" style="top:50px;left:150px;">No Programming</div>
                    <div class="carousel_text medium_big_white" style="top:100px;left:170px;">but</div>
                    <div class="carousel_text modern_medium_light" style="top:140px;left:300px;">Great Results</div>
                    <div class="carousel_text modern_medium_light" style="top:170px;left:310px;">In Short Time</div>
                    <div class="carousel_text modern_medium_light" style="top:200px;left:325px;">100% Reusable</div>
                </div>

                <div class="item">
                    <img src="assets/photos/pic6.jpg">
                    <div class="carousel_text very_big_black" style="top:180px;left:100px;">Leverage the Power</div>
                    <div class="carousel_text medium_big_black" style="top:240px;left:150px;">of Web-Technologies</div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
