<div class="row" style="margin-top:20px;">
    <div class="col-md-9">
        <div class="teaser_header">
            Join the internal alpha phase of <b>qWidget</b>
        </div>
        <div class="teaser_body" style="margin-left:20px;">
            qWidgets allow you to easily create new kinds of visualizations.  By just having a basic knowledge of the standard technologies like HTML and CSS this will allow you to create thousands more visualizations above and beyond what Qlik Sense provides out of the box.  The qWidget concept is built upon the standard Qlik Sense API’s.<br/>
            <b>Join the Limited Public Beta of this concept now!!</b>
        </div>
    </div>
    <div class="col-md-3 text-right">
        <a href="download.default.html" class="btn_Download">
            <span class="glyphicon glyphicon-cloud-download"></span><span class="qWidget_ButtonLabel">Download Now</span>
        </a>
        <br/><br/>
        <a href="hidden.subscribe.html" class="btn_Subscribe">
            <span class="glyphicon glyphicon-envelope"></span><span class="qWidget_ButtonLabel">Subscribe to Updates</span>
        </a>
    </div>
</div>