<hr/>
<div class="row">
    <div class="col-md-1"><span class="glyphicon glyphicon-ban-circle shout-icon"></span></div>
    <div class="col-md-3">
        <div class="shout_header">No Programming</div>
        <div class="shout_description">
            Create completely <b>new visualizations without</b> the need for <b>programming</b> in JavaScript.
            <br/>Just use HTML & CSS to design new, great visualization-objects.<br/><br/>
            Many can be achieved by simply copying a piece of code from the Internet.

        </div>
    </div>
    <div class="col-md-1"><span class="glyphicon glyphicon-refresh shout-icon"></span></div>
    <div class="col-md-3">
        <div class="shout_header">Collaborative</div>
        <div class="shout_description">
            Share your qWidgets with colleagues and load them in your Qlik Sense apps on the fly.
        </div>
    </div>
    <div class="col-md-1"><span class="glyphicon glyphicon-time shout-icon"></span></div>
    <div class="col-md-3">
        <div class="shout_header">Time to Value</div>
        <div class="shout_description">
            Create great visualizations and dashboards in minutes.<br/>
            Many by simply copying a piece of code from the Internet.
        </div>
    </div>
</div>
