<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

{{> topnav}}

    <!-- ********************************************************************************* -->

    <div class="container">
        {{> "home.Jumbotron" }}

        {{> "home.Teaser" }}

        {{> "home.Shout" }}

        <br/><br/>
    </div>



    <!-- ********************************************************************************* -->

{{> footer }}

{{> bottomIncludes }}
{{> googleAnalytics }}

</body>
</html>
